.tooltip {
  @extend .position-rel;
  @extend .display-inline-block;

  &__content {
    visibility: hidden;
    width: 120px;
    background-color: $primary_color;
    @extend .color-light;
    @extend .text-center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: $primary_color transparent transparent transparent;
    }

    &.bg-color-light {
      background-color: $color_light;
      box-shadow: 0px 2px 8px rgba($color_dark, .2);
      -webkit-box-shadow: 0px 2px 8px rgba($color_dark, .2);
      @extend .secondary-color-txt;
    }
  }

  &--left {
    .tooltip {
      &__content {
        left: auto;
        bottom: auto;
        right: 110%;
        top: 0;
        margin-left: 0;
        width: max-content;
        padding: 5px 0.5rem;

        &.bg-transparent {
          background-color: transparent;

          &:after {
            border-color: transparent transparent transparent transparent;
          }
        }
      }
    }
  }

  &--bottom {
    .tooltip {
      &__content {
        left: auto;
        top: calc(100% + 3px);
        right: auto;
        bottom: auto;
        margin-left: 0;
        width: max-content;
        padding: 5px 0.5rem;

        &.bg-transparent {
          background-color: transparent;
        }
        &:after {
          display: none;
        }
      }
    }
  }

  &:hover {
    .tooltip__content {
      visibility: visible;
      opacity: 1;
    }
  }
}